<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- App name -->
      <a class="navbar-brand" href="{{url_for('main.index')}}">TuTi web-service</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ url_for('explorer.show_directory') }}">Media browser</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('main.about') }}">About</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('tuti_service.show_all_actions') }}">Show all actions</a>
        </li>
        <li>
          <a href="{{ url_for('tuti_service.download_backup') }}">Download backup-database</a>
        </li>
        <li>
          <a href="{{ url_for('tuti_service.upload_bin') }}">Upload binary</a>
        </li>
        <li>
          <a href="{{ url_for('main.profile') }}">Profile</a>
        </li>
        <li>
          <a href="{{ url_for('auth.signup') }}">Sign-up new accout</a>
        </li>
        <li>
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>