<!-- templates/login.html -->

{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">User sign-up</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  <!-- jumbotron -->
  <div class="jumbotron">
    <form method="POST" action="{{ url_for('auth.signup') }}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.name.label }} {{ form.name(size=255, class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.username.label }} {{ form.username(size=20, class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label }} {{ form.password(size=20, class="form-control", type="password") }}
      </div>
      {% if current_user.is_authenticated %}
        {{ form.usertype.label }} {{ form.usertype(size=30, class="form-control") }}
      </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">Sign-up</button>
    </form>
  </div>
</div>

{% endblock %}